<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
 	 <param name="ntrip_server" value="gnssdata.or.kr:2101"/>
 	 <param name="ntrip_user" value="wlstn145@seoultech.ac.kr"/>
 	 <param name="ntrip_pass" value="gnss"/>
 	 <param name="ntrip_stream" value="SOUL-RTCM31"/>
 	 <!--<param name="ntrip_stream" value="WNJU-RTCM31"/>-->
 	 <param name="nmea_gga" value="$GPGGA,014126.150,3720.330,N,12753.921,E,1,12,1.0,0.0,M,0.0,M,,*64"/>
  </node>
</launch>

